<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ui.externaltools.ProgramLaunchConfigurationType">
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="C:\Program Files\Java\jdk1.7.0_10\bin\wsimport.exe"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value="http://localhost:8080/WS/Hello?wsdl -verbose -s ${workspace_loc:/Pantry_WebServices_JAX-WS_Client_1/src/main/java}"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_WORKING_DIRECTORY" value="${workspace_loc:/Pantry_WebServices_JAX-WS_Client_1/generate}"/>
</launchConfiguration>
